In [1]:
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
train_file = r"C:\Users\USER\Documents\CODSOFT\CODSOFT\Task1_MovieGenreClassification\data\Genre Classification Dataset\train_data.txt"
test_file = r"C:\Users\USER\Documents\CODSOFT\CODSOFT\Task1_MovieGenreClassification\data\Genre Classification Dataset\test_data_solution.txt"
train_data = pd.read_csv(train_file, sep=':::', names=['title', 'genre', 'description'], engine='python')
test_data = pd.read_csv(test_file, sep=':::', names=['title', 'genre', 'description'], engine='python')

#Remove space
train_data['title'] = train_data['title'].astype(str).str.strip()
train_data['genre'] = train_data['genre'].astype(str).str.strip()
train_data['description'] = train_data['description'].astype(str).str.strip()

test_data['title'] = test_data['title'].astype(str).str.strip()
test_data['genre'] = test_data['genre'].astype(str).str.strip()
test_data['description'] = test_data['description'].astype(str).str.strip()

print("Training Data:")
print(train_data.head(10))

print("Testing Data:")
print(test_data.head(10))

Training Data:
                               title        genre  \
1       Oscar et la dame rose (2009)        drama
2                       Cupid (1997)     thriller
3   Young, Wild and Wonderful (1980)        adult
4              The Secret Sin (1915)        drama
5             The Unrecovered (2007)        drama
6             Quality Control (2011)  documentary
7                 "Pink Slip" (2009)       comedy
8               One Step Away (1985)        crime
9           "Desperate Hours" (2016)   reality-tv
10                  Spirits (2014/I)       horror

                                          description
1   Listening in to a conversation between his doc...
2   A brother and sister with a past incestuous re...
3   As the bus empties the students for their fiel...
4   To help their unemployed father make ends meet...
5   The film's title refers not only to the un-rec...
6   Quality Control consists of a series of 16mm s...
7   In tough economic times Max and Joey have all ...
8   Ron Petrie (Keanu Reeves) is a troubled teen w...
9   A sudden calamitous event, causing great loss ...
10  Four high school students embark on a terrifyi...
Testing Data:
                                         title        genre  \
1                         Edgar's Lunch (1998)     thriller
2                     La guerra de pap√° (1977)       comedy
3                  Off the Beaten Track (2010)  documentary
4                       Meu Amigo Hindu (2015)        drama
5                            Er nu zhai (1955)        drama
6                           Riddle Room (2016)       horror
7                               L'amica (1969)        drama
8                         Ina Mina Dika (1989)       comedy
9   Equinox Special: Britain's Tornados (2005)  documentary
10                                Press (2011)        drama

                                          description
1   L.R. Brane loves his life - his car, his apart...
2   Spain, March 1964: Quico is a very naughty chi...
3   One year in the life of Albin and his family o...
4   His father has died, he hasn't spoken with his...
5   Before he was known internationally as a marti...
6   Emily Burns is being held captive in a room wi...
7   The beautiful but neglected wife of a brillian...
8   Vasu Inamdar (Ina) suffers from a disorder whe...
9   An insight into the tornados that hit Kensal R...
10  Press is a story of young people overwhelmed b...

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54214 entries, 1 to 54214
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        54214 non-null  object
 1   genre        54214 non-null  object
 2   description  54214 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [4]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54200 entries, 1 to 54200
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        54200 non-null  object
 1   genre        54200 non-null  object
 2   description  54200 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [5]:
train_data.isnull().sum()
test_data.isnull().sum()

title          0
genre          0
description    0
dtype: int64

In [6]:
train_data['length']=train_data['description'].apply(len)
train_data.head()

,title,genre,description,length
1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...,545
2,Cupid (1997),thriller,A brother and sister with a past incestuous re...,183
3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...,649
4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...,1081
5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...,624

In [7]:
train_data.dtypes
test_data.dtypes

title          object
genre          object
description    object
dtype: object

In [8]:
import nltk
nltk.download('stopwords')

def clean_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    
    # Remove stopwords 
    stop_words = set(stopwords.words('english'))
    text = ' '.join([word for word in text.split() if word not in stop_words])
    
    return text

train_data['title'] = train_data['title'].apply(clean_text)
train_data['description'] = train_data['description'].apply(clean_text)

test_data['title'] = test_data['title'].apply(clean_text)
test_data['description'] = test_data['description'].apply(clean_text)


train_data.dropna(subset=['title', 'genre', 'description'], inplace=True)
test_data.dropna(subset=['title', 'genre', 'description'], inplace=True)


print(train_data.head())
print(test_data.head())

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                   title     genre  \
1  oscar et la dame rose     drama
2                  cupid  thriller
3   young wild wonderful     adult
4             secret sin     drama
5            unrecovered     drama

                                         description  length
1  listening conversation doctor parents yearold ...     545
2  brother sister past incestuous relationship cu...     183
3  bus empties students field trip museum natural...     649
4  help unemployed father make ends meet edith tw...    1081
5  films title refers unrecovered bodies ground z...     624
               title        genre  \
1       edgars lunch     thriller
2  la guerra de pap√°       comedy
3       beaten track  documentary
4    meu amigo hindu        drama
5         er nu zhai        drama

                                         description
1  lr brane loves life car apartment job especial...
2  spain march quico naughty child three belongin...
3  one year life albin family shepherds north tra...
4  father died hasnt spoken brother years serious...
5  known internationally martial arts superstar b...

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Combine title and description into a single text feature
train_data['text'] = train_data['title'] + ' ' + train_data['description']
test_data['text'] = test_data['title'] + ' ' + test_data['description']

# Vectorize the text data using TF-IDF
tfidf_vectorizer = TfidfVectorizer(max_features=5000)  
X_train = tfidf_vectorizer.fit_transform(train_data['text'])
X_test = tfidf_vectorizer.transform(test_data['text'])

print(X_train)
print(X_test)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2003977 stored elements and shape (54214, 5000)>
  Coords	Values
  (0, 3163)	0.46680441246150617
  (0, 1535)	0.1405341115498038
  (0, 2535)	0.09962703636907784
  (0, 3835)	0.410895355561455
  (0, 2655)	0.16324421026012875
  (0, 959)	0.13829426524377603
  (0, 1300)	0.11505525457300222
  (0, 3209)	0.09675033116010365
  (0, 4978)	0.11155000768654634
  (0, 2591)	0.10814767972262267
  (0, 3056)	0.1410449308659812
  (0, 1000)	0.13064471239530415
  (0, 4436)	0.10838406133111116
  (0, 4875)	0.12665659810177385
  (0, 2659)	0.1658072631185788
  (0, 1861)	0.15861592044005499
  (0, 3666)	0.1222551995282902
  (0, 4181)	0.1309706790476679
  (0, 206)	0.11984030497857097
  (0, 1569)	0.13675112333539702
  (0, 2543)	0.12000674516983546
  (0, 3313)	0.16420004200124727
  (0, 2835)	0.09066229404246878
  (0, 2164)	0.11712760556547269
  (0, 750)	0.1299544403958376
  :	:
  (54212, 3013)	0.10560382997731643
  (54212, 965)	0.21878502962835478
  (54213, 2745)	0.1197201835372967
  (54213, 993)	0.14316422669397064
  (54213, 1117)	0.11670913115445246
  (54213, 2538)	0.23096349059750448
  (54213, 1972)	0.1457146061594688
  (54213, 3236)	0.18469877658369852
  (54213, 165)	0.19934935322756248
  (54213, 2128)	0.18192897005464934
  (54213, 4237)	0.19757033806839372
  (54213, 1555)	0.1474079870653467
  (54213, 1549)	0.14783186406601195
  (54213, 3018)	0.192165426410946
  (54213, 4271)	0.41949657759049613
  (54213, 2326)	0.20604555231123567
  (54213, 4873)	0.201225232124931
  (54213, 388)	0.2413243689932698
  (54213, 684)	0.16934524903009687
  (54213, 4791)	0.1907734942466459
  (54213, 1768)	0.22650498645652617
  (54213, 4911)	0.23884410708813658
  (54213, 1182)	0.21366602842975327
  (54213, 3651)	0.22551561422530966
  (54213, 2200)	0.25175633024795824
<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2004194 stored elements and shape (54200, 5000)>
  Coords	Values
  (0, 38)	0.13562030176517037
  (0, 198)	0.12149194756989669
  (0, 211)	0.1599435125573594
  (0, 397)	0.11726174889499787
  (0, 586)	0.17380779311640762
  (0, 627)	0.14418120048675837
  (0, 932)	0.19713123908553745
  (0, 1117)	0.1018720576874668
  (0, 1526)	0.1638000654935499
  (0, 1546)	0.1592038076931294
  (0, 1550)	0.12434611718934716
  (0, 1583)	0.32741124659145926
  (0, 1738)	0.15564738759720007
  (0, 1917)	0.14386263327384577
  (0, 1942)	0.16456647167330407
  (0, 2437)	0.12652533166037025
  (0, 2631)	0.14832179605359366
  (0, 2706)	0.15553938096303999
  (0, 2718)	0.22228542519479302
  (0, 2886)	0.14803984518001992
  (0, 2894)	0.17835679275267602
  (0, 3098)	0.21498413103576866
  (0, 3123)	0.1475484885593951
  (0, 3547)	0.19642344606962547
  (0, 3756)	0.13835406852922819
  :	:
  (54199, 892)	0.2163156680456141
  (54199, 923)	0.22133365752625156
  (54199, 1043)	0.176803557267584
  (54199, 1104)	0.19081435816503864
  (54199, 1249)	0.25327586437807253
  (54199, 1630)	0.16983548070833668
  (54199, 1821)	0.2708745962391974
  (54199, 1825)	0.22578635657912088
  (54199, 1972)	0.1315707387690185
  (54199, 2182)	0.12068180798429116
  (54199, 2636)	0.15735151224764196
  (54199, 2662)	0.10252534381240479
  (54199, 2685)	0.1540499220772056
  (54199, 2843)	0.1239851504264501
  (54199, 2957)	0.17013419480472602
  (54199, 3224)	0.18048397193087118
  (54199, 3254)	0.09891046505671965
  (54199, 4363)	0.17447549832237347
  (54199, 4403)	0.16402232851972395
  (54199, 4557)	0.22212144169833822
  (54199, 4595)	0.20136185220121297
  (54199, 4872)	0.16749771526968849
  (54199, 4918)	0.1888365910098776
  (54199, 4926)	0.13293282815233728
  (54199, 4995)	0.22265793451855848

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OrdinalEncoder

vectorizer = TfidfVectorizer(max_features=5000)
X_train = vectorizer.fit_transform(train_data['description'])
X_test = vectorizer.transform(test_data['description'])

#  OrdinalEncoder
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
y_train = encoder.fit_transform(train_data[['genre']]).ravel()
y_test = encoder.transform(test_data[['genre']]).ravel()

print(y_train)
print(y_test)

[ 8. 24.  1. ...  7.  5. 12.]
[24.  5.  7. ...  1.  8.  8.]

In [11]:

genres_mapping = encoder.categories_[0]

for i, genre in enumerate(genres_mapping):
    print(f"{i}: {genre}")

0: action
1: adult
2: adventure
3: animation
4: biography
5: comedy
6: crime
7: documentary
8: drama
9: family
10: fantasy
11: game-show
12: history
13: horror
14: music
15: musical
16: mystery
17: news
18: reality-tv
19: romance
20: sci-fi
21: short
22: sport
23: talk-show
24: thriller
25: war
26: western

In [12]:
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import label_binarize
from imblearn.over_sampling import SMOTE

#class imbalance using SMOTE
smote = SMOTE()
X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train)

# Evaluate model
lr_model = LogisticRegression(max_iter=1000, solver='liblinear')
lr_model.fit(X_train_balanced, y_train_balanced)
lr_predictions = lr_model.predict(X_test)
lr_report = classification_report(y_test, lr_predictions, zero_division=0, output_dict=True)
y_test_binarized = label_binarize(y_test, classes=list(set(y_train)))
lr_probabilities = lr_model.predict_proba(X_test)
lr_roc_auc = roc_auc_score(y_test_binarized, lr_probabilities, multi_class='ovr')
print("Classification Report:")
print(lr_report)
print(f"ROC AUC Score: {lr_roc_auc}")
accuracy = accuracy_score(y_test, lr_predictions)
print(f' Accuracy = {accuracy:.4f}')

Classification Report:
{'0.0': {'precision': 0.2961599158337717, 'recall': 0.4284627092846271, 'f1-score': 0.35023328149300154, 'support': 1314.0}, '1.0': {'precision': 0.33098591549295775, 'recall': 0.5576271186440678, 'f1-score': 0.4154040404040404, 'support': 590.0}, '2.0': {'precision': 0.17906976744186046, 'recall': 0.29806451612903223, 'f1-score': 0.22372881355932203, 'support': 775.0}, '3.0': {'precision': 0.16129032258064516, 'recall': 0.25100401606425704, 'f1-score': 0.19638648860958366, 'support': 498.0}, '4.0': {'precision': 0.0416141235813367, 'recall': 0.125, 'f1-score': 0.06244087038789026, 'support': 264.0}, '5.0': {'precision': 0.5785344683692205, 'recall': 0.46548482406661296, 'f1-score': 0.5158889633102627, 'support': 7446.0}, '6.0': {'precision': 0.11625874125874126, 'recall': 0.2633663366336634, 'f1-score': 0.16130988477865374, 'support': 505.0}, '7.0': {'precision': 0.7890441701519942, 'recall': 0.5906383628588882, 'f1-score': 0.6755753526354863, 'support': 13096.0}, '8.0': {'precision': 0.6911818514452982, 'recall': 0.4163238319130179, 'f1-score': 0.5196460501581771, 'support': 13612.0}, '9.0': {'precision': 0.14092307692307693, 'recall': 0.29246487867177523, 'f1-score': 0.19019933554817275, 'support': 783.0}, '10.0': {'precision': 0.10403726708074534, 'recall': 0.2080745341614907, 'f1-score': 0.13871635610766045, 'support': 322.0}, '11.0': {'precision': 0.6517412935323383, 'recall': 0.6787564766839378, 'f1-score': 0.6649746192893401, 'support': 193.0}, '12.0': {'precision': 0.06902086677367576, 'recall': 0.17695473251028807, 'f1-score': 0.09930715935334873, 'support': 243.0}, '13.0': {'precision': 0.5381272224417226, 'recall': 0.6179673321234119, 'f1-score': 0.5752903907074973, 'support': 2204.0}, '14.0': {'precision': 0.41231822070145424, 'recall': 0.6593707250341997, 'f1-score': 0.5073684210526316, 'support': 731.0}, '15.0': {'precision': 0.11837455830388692, 'recall': 0.2427536231884058, 'f1-score': 0.15914489311163896, 'support': 276.0}, '16.0': {'precision': 0.10508474576271186, 'recall': 0.1949685534591195, 'f1-score': 0.13656387665198239, 'support': 318.0}, '17.0': {'precision': 0.16428571428571428, 'recall': 0.2541436464088398, 'f1-score': 0.19956616052060738, 'support': 181.0}, '18.0': {'precision': 0.2501611863313991, 'recall': 0.43941109852774635, 'f1-score': 0.3188167625308135, 'support': 883.0}, '19.0': {'precision': 0.13582166925868325, 'recall': 0.3898809523809524, 'f1-score': 0.20146097654748174, 'support': 672.0}, '20.0': {'precision': 0.296259842519685, 'recall': 0.46594427244582043, 'f1-score': 0.3622141997593261, 'support': 646.0}, '21.0': {'precision': 0.40448583919406955, 'recall': 0.4195583596214511, 'f1-score': 0.41188425433078485, 'support': 5072.0}, '22.0': {'precision': 0.327930174563591, 'recall': 0.6102088167053364, 'f1-score': 0.42660178426601786, 'support': 431.0}, '23.0': {'precision': 0.2680722891566265, 'recall': 0.45524296675191817, 'f1-score': 0.33744075829383885, 'support': 391.0}, '24.0': {'precision': 0.2055457746478873, 'recall': 0.29371069182389936, 'f1-score': 0.24184360435007768, 'support': 1590.0}, '25.0': {'precision': 0.1708542713567839, 'recall': 0.5151515151515151, 'f1-score': 0.25660377358490566, 'support': 132.0}, '26.0': {'precision': 0.7424242424242424, 'recall': 0.8546511627906976, 'f1-score': 0.7945945945945946, 'support': 1032.0}, 'accuracy': 0.4743173431734317, 'macro avg': {'precision': 0.30702250116348595, 'recall': 0.41352540940870264, 'f1-score': 0.33863724688656066, 'support': 54200.0}, 'weighted avg': {'precision': 0.5665896818290582, 'recall': 0.4743173431734317, 'f1-score': 0.5025655797128995, 'support': 54200.0}}
ROC AUC Score: 0.8847933042974311
 Accuracy = 0.4743