In [ ]:
import pandas as pd

Data = pd.read_csv(r"C:\Users\USER\Documents\CODSOFT\CODSOFT\Task3_CustomerChurnPrediction\data\Churn_Modelling.csv")
print(Data.head(30))

    RowNumber  CustomerId     Surname  CreditScore Geography  Gender  Age  \
0           1    15634602    Hargrave          619    France  Female   42
1           2    15647311        Hill          608     Spain  Female   41
2           3    15619304        Onio          502    France  Female   42
3           4    15701354        Boni          699    France  Female   39
4           5    15737888    Mitchell          850     Spain  Female   43
5           6    15574012         Chu          645     Spain    Male   44
6           7    15592531    Bartlett          822    France    Male   50
7           8    15656148      Obinna          376   Germany  Female   29
8           9    15792365          He          501    France    Male   44
9          10    15592389          H?          684    France    Male   27
10         11    15767821      Bearce          528    France    Male   31
11         12    15737173     Andrews          497     Spain    Male   24
12         13    15632264         Kay          476    France  Female   34
13         14    15691483        Chin          549    France  Female   25
14         15    15600882       Scott          635     Spain  Female   35
15         16    15643966     Goforth          616   Germany    Male   45
16         17    15737452       Romeo          653   Germany    Male   58
17         18    15788218   Henderson          549     Spain  Female   24
18         19    15661507     Muldrow          587     Spain    Male   45
19         20    15568982         Hao          726    France  Female   24
20         21    15577657    McDonald          732    France    Male   41
21         22    15597945    Dellucci          636     Spain  Female   32
22         23    15699309   Gerasimov          510     Spain  Female   38
23         24    15725737      Mosman          669    France    Male   46
24         25    15625047         Yen          846    France  Female   38
25         26    15738191     Maclean          577    France    Male   25
26         27    15736816       Young          756   Germany    Male   36
27         28    15700772     Nebechi          571    France    Male   44
28         29    15728693  McWilliams          574   Germany  Female   43
29         30    15656300    Lucciano          411    France    Male   29

    Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0        2       0.00              1          1               1
1        1   83807.86              1          0               1
2        8  159660.80              3          1               0
3        1       0.00              2          0               0
4        2  125510.82              1          1               1
5        8  113755.78              2          1               0
6        7       0.00              2          1               1
7        4  115046.74              4          1               0
8        4  142051.07              2          0               1
9        2  134603.88              1          1               1
10       6  102016.72              2          0               0
11       3       0.00              2          1               0
12      10       0.00              2          1               0
13       5       0.00              2          0               0
14       7       0.00              2          1               1
15       3  143129.41              2          0               1
16       1  132602.88              1          1               0
17       9       0.00              2          1               1
18       6       0.00              1          0               0
19       6       0.00              2          1               1
20       8       0.00              2          1               1
21       8       0.00              2          1               0
22       4       0.00              1          1               0
23       3       0.00              2          0               1
24       5       0.00              1          1               1
25       3       0.00              2          0               1
26       2  136815.64              1          1               1
27       9       0.00              2          0               0
28       3  141349.43              1          1               1
29       0   59697.17              2          1               1

    EstimatedSalary  Exited
0         101348.88       1
1         112542.58       0
2         113931.57       1
3          93826.63       0
4          79084.10       0
5         149756.71       1
6          10062.80       0
7         119346.88       1
8          74940.50       0
9          71725.73       0
10         80181.12       0
11         76390.01       0
12         26260.98       0
13        190857.79       0
14         65951.65       0
15         64327.26       0
16          5097.67       1
17         14406.41       0
18        158684.81       0
19         54724.03       0
20        170886.17       0
21        138555.46       0
22        118913.53       1
23          8487.75       0
24        187616.16       0
25        124508.29       0
26        170041.95       0
27         38433.35       0
28        100187.43       0
29         53483.21       0

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
Data = Data.drop(columns=['RowNumber', 'CustomerId', 'Surname'])


Data.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [6]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [8]:
Data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [17]:
X = Data.drop('Exited', axis=1)
y = Data['Exited']

In [60]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_cols = ['Geography', 'Gender']

In [61]:
numerical_transformer = StandardScaler()

In [62]:
from sklearn.compose import ColumnTransformer
categorical_transformer = ColumnTransformer(
    transformers=[
        ('geo', OneHotEncoder(drop='first'), ['Geography']),  
        ('gender', OneHotEncoder(drop='first'), ['Gender']),
    ],
    remainder='passthrough' 
)

In [63]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ]
)

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [65]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

In [66]:
X_train = pipeline.fit_transform(X_train)
X_test = pipeline.transform(X_test)

In [67]:
X_train

array([[ 1.058568  ,  1.71508648,  0.68472287, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.91362605, -0.65993547, -0.6962018 , ...,  1.        ,
         0.        ,  1.        ],
       [ 1.07927399, -0.18493108, -1.73189531, ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [ 0.16821031, -0.18493108,  1.3751852 , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.37527024, -0.37493284,  1.02995403, ...,  0.        ,
         1.        ,  1.        ],
       [ 1.56586482,  1.14508121,  0.68472287, ...,  0.        ,
         1.        ,  1.        ]])

In [68]:
X_test

array([[-0.68073539, -0.27993196,  0.68472287, ...,  0.        ,
         0.        ,  1.        ],
       [-1.30191518, -0.5649346 , -0.35097064, ...,  1.        ,
         0.        ,  1.        ],
       [-0.97061929,  0.10007155, -0.35097064, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.39509214,  0.7650777 ,  1.3751852 , ...,  1.        ,
         0.        ,  0.        ],
       [ 0.39597623,  0.00507067,  0.68472287, ...,  0.        ,
         0.        ,  1.        ],
       [ 1.02750901, -0.5649346 , -1.04143297, ...,  0.        ,
         0.        ,  1.        ]])

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
models = {
    'Logistic Regression': LogisticRegression(random_state=42),
    'Random Forest': RandomForestClassifier(random_state=42, n_estimators=100),
    'Gradient Boosting': GradientBoostingClassifier(random_state=42)
}

results = {}

In [70]:
from sklearn.metrics import accuracy_score, classification_report

# Iterate each model in the models dictionary to train and evaluate
for model_name, model in models.items():

    model.fit(X_train, y_train)

    predictions = model.predict(X_test)
    
    #accuracy of the predictions
    accuracy_value = accuracy_score(y_test, predictions)
    print(f"Performance of {model_name}: Accuracy = {accuracy_value:.4f}")
    
    # print classification report
    print(f"Detailed Classification Report for {model_name}:\n{classification_report(y_test, predictions)}\n")
    
    results[model_name] = {
        'accuracy': accuracy_value,
        'classification_report': classification_report(y_test, predictions, output_dict=True)
    }

Performance of Logistic Regression: Accuracy = 0.8080
Detailed Classification Report for Logistic Regression:
              precision    recall  f1-score   support

           0       0.82      0.97      0.89      1593
           1       0.59      0.19      0.28       407

    accuracy                           0.81      2000
   macro avg       0.71      0.58      0.59      2000
weighted avg       0.78      0.81      0.77      2000


Performance of Random Forest: Accuracy = 0.8640
Detailed Classification Report for Random Forest:
              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1593
           1       0.78      0.46      0.58       407

    accuracy                           0.86      2000
   macro avg       0.83      0.71      0.75      2000
weighted avg       0.86      0.86      0.85      2000


Performance of Gradient Boosting: Accuracy = 0.8700
Detailed Classification Report for Gradient Boosting:
              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1593
           1       0.79      0.49      0.60       407

    accuracy                           0.87      2000
   macro avg       0.84      0.73      0.76      2000
weighted avg       0.86      0.87      0.86      2000

In [71]:
# Initialize Gradient Boosting model
best_model = GradientBoostingClassifier(random_state=42)

# training data
best_model.fit(X_train, y_train)

#  predictions on the test data
y_pred = best_model.predict(X_test)

# model performance
accuracy = accuracy_score(y_test, y_pred)
print(f' Accuracy = {accuracy:.4f}')

# Print the detailed classification report
print(f'Classification Report\n{classification_report(y_test, y_pred)}')

 Accuracy = 0.8700
Classification Report
              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1593
           1       0.79      0.49      0.60       407

    accuracy                           0.87      2000
   macro avg       0.84      0.73      0.76      2000
weighted avg       0.86      0.87      0.86      2000